
@media only screen and (min-device-width : 768px){
    .grid-wrp{
        grid-template-columns: 1fr minmax(auto, 901px) minmax(auto, 279px) 1fr;
        grid-template-areas: "header header header header"
        ". main author ."
        ". main aside ."
        "footer footer footer footer";
    }
    .menu-toggle,.menu-close{
        display: none;
    }
    .grid-wrp>header,footer{
        display: grid;
        grid-template-columns: 1fr minmax(auto,1200px) 1fr;
    }
    .soc,.menu>ul{
        justify-content: space-between;
    }
    .header-wrp,.footer-wrp{
        grid-column: 2/3;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .header-wrp{
           grid-template-areas: "logo-h . . . search-h soc-h"
        "logo-h . . . menu-h menu-h";
    }
    .soc-f{
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: center;
    }
    .logo-f{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .footer-wrp>p{
        grid-column: 1/2;
    }
}
