*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.grid-wrp{
    width: 100%;
    display: grid;
    justify-content:center;
}
.grid-wrp>header{
    background-color: orange;
}
.header-wrp,.footer-wrp{
    display:grid;
}
main{
    background-color: lime;
}
aside{
    background-color:STEELBLUE;
}
footer{
    background-color: PALEVIOLETRED;
}
.logo{
    grid-area: logo;
}
.menu-h{
    grid-area: menu-h;
}
.soc-h{
    grid-area: soc-h;
}
.search-h{
    grid-area: search-h;
}
.search>a{
    display: block;
    height: 100%;
    width: 100%;
}